# Backend Configuration Template
APP_NAME=CoffeeTree POS
DEBUG=False
PORT=8000

# Database
DATABASE_URL=sqlite+aiosqlite:///./coffeetree.db

# Security (Run 'openssl rand -hex 32' to generate)
SECRET_KEY=yoursecretkeyhere
JWT_ALGORITHM=HS256

# Admin
ADMIN_EMAIL=admin@coffeetree.vn
ADMIN_PASSWORD=admin123
